{% extends 'banking_customer/base.html' %} {% block content %}
<h2>Make a transfer</h2>
<form>
    <input type="text" name="fromAccount" disabled placeholder="from" value={{ account.pk }}>
    <select name="toAccount" id="toAccount">
        {% for account in accounts %}
        <option value={{ account.pk }}> {{ account.pk }} - {{ account.type }}</option>
        {% endfor %}
    </select>
    <input type="number" name="amount" id="amount" placeholder="amount">
    <textarea name="text" id="text" cols="30" rows="10" placeholder="text"></textarea>
    <button type="submit">transfer</button>
</form>
<a href={% url 'banking_customer:index' %}>go back</a>
{% endblock %}
